body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.nav {
  width: 100%;
  background-color: whitesmoke;
  color: gray;
  display: flex;
  justify-content: space-between;
  align-items: center; /* Center items vertically */
  gap: 2rem;
  /*padding: 0 1rem;*/
  padding: 10px;
  
}

.site-title {
  font-size: 1.5rem;
  align-items: flex-start;
}

.nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
  gap: 1rem;
  display: flex;
  align-items: center; 
}

.nav a {
  color: inherit;
  text-decoration: none;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0.75rem;
  border-radius: 20px;
}

.nav li:hover {
  background-color: rebeccapurple;
  border-radius: 40px;
  transition: 0.7s ease;
  color: black;
}

/*
.nav li.active {
  background-color: red;
}
*/

/*Why Us*/

.h2_whyus_intro{
  color : black;
  text-align: center;
  font-family: 'Times New Roman';
}
.whyUs_desc{
 font-family: 'Times New Roman';
 color: dimgray;

}
.ourmission {
  color: black;
  text-align: center;
  font-family: 'Times New Roman';
}
.whyUs_sectors{
  display : flex;
  width : 100%;
  justify-content : space-between;
  flex-wrap : wrap;


}
.whyUs_spliter {
  text-align: center;
}
.whyUs_Split{
  font-family: 'Times New Roman' ;
  font-style: italic; 
  padding : 30px;
  
}

.sector_1 {
  height: 400px;
  width: 300px;
  margin: 30px;
  border: 2px solid slategray;
  border-radius: 10px;
  background-color: lightgray;
}

.sector_1:hover {
    
background-color: darkolivegreen;
border-color: whitesmoke;
transition : ease 0.7s;
color : white;
}
.sector_h2{
  text-align: center;
  font-family: 'Bookman Old Style';
}
.sector_p {
  text-align: center;
  margin-top: 70px;
  font-family: 'Bookman Old Style';
}
/*Contact Us*/
.contactus_main {
  padding: 50px 0;
}

.contactus_container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
}

.contactus_container h2 {
  text-align: center;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 20px;
}

.form-control {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.btn {
  padding: 10px 20px;
  margin-left: 250px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  
}

.btn:hover {
  background-color: black;
  color: #fff;
  transition: 0.6s ease;
}

.contactus_submit_btn {
  margin-top: 20px;
}

/* Home */
.job-listing-container {
  background-color: #f8f9fa;
  border: 1px solid #dee2e6;
  border-radius: 8px;
  padding: 20px;
  margin-bottom: 20px;
}

.job-title {
  color: #007bff;
  font-size: 24px;
  margin-bottom: 10px;
}

.job-details {
  font-size: 16px;
  margin-bottom: 5px;
}

.dropdown {
  position: relative;
  display: inline-block;
  margin-top: 20px;
  margin-bottom: 40px;
}

.form-select {
  padding: 8px 12px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #fff;
  cursor: pointer;
}

/* Style the dropdown arrow */
.form-select::after {
  content: '\25BC'; /* Unicode character for downward arrow */
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  pointer-events: none;
}

/* Style the dropdown options */
.form-select option {
  padding: 8px 12px;
  font-size: 16px;
  background-color: #fff;
  color: #000;
}

/* Style the selected option */
.form-select option:checked {
  background-color: #007bff;
  color: #fff;
}



/*Profile*/
.login_intro{
  color: grey;
  text-align: center;
}
.profile-container {
  
  padding: 50px;
  margin: auto;
  margin-top: 50px;
  width: 50%;
  border: 5px solid transparent;
  border-radius: 100px;
  background-color: white;
  color: black;
}

.error {
  color: red;
}
.login_labels {

  color: transparent;
  background-image: linear-gradient(to right, #007bff, #00bfff);
  -webkit-background-clip: text;
  background-clip: text;
}
.input-field {
  width: 100%;
  padding: 8px;
  margin: 5px 0;
  border: none;
  background-color: transparent;
  border-radius: 0;
  border-bottom: 1px solid blue; 
  outline: none; 
  color: white;
}

.input-field:focus{
  border-bottom-color: green;
  transition: 0.6s ease;
}

.login-button {
  margin-left: 230px;
  padding: 10px;
  border-radius: 10px;
  background-color: blue;
  color: white;
  border: none;
  margin-top: 20px;
}
.login-button:hover{
  background-color: green;
  transition: 0.9s ease;
  color: black;
}

.register-link {
  text-align: center;
  margin-top: 30px;
}
.register_link:hover{
  color: green;
  transition: 0.4s ease-in-out;
}

.loggedIn_div{
display: flex;
justify-content: space-between;
flex-wrap: wrap;

}
.loggedIn_intro{
  color: red;
}
.logout_button{
color: blue;
width: 300px;
}

/* styles.css */
.logged-in-container {
  padding: 20px;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
}

.user-details {
  margin-bottom: 20px;
}

.logout-button, .publish-job-button {
  margin-right: 10px;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
}

.logout-button:hover, .publish-job-button:hover {
  background-color: #0056b3;
 
}


/*   CV   */

.cv_form {
  max-width: 800px;
  margin-top: 100px;
  margin-left: 250px;
  padding: 50px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.cv_form h2 {
  margin-bottom: 20px;
  text-align: center;
}

.cv_form input[type="text"],
.cv_form input[type="date"],
.cv_form input[type="tel"],
.cv_form input[type="email"] {
  width: calc(100% - 22px);
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.cv_form input[type="text"]:focus,
.cv_form input[type="date"]:focus,
.cv_form input[type="tel"]:focus,
.cv_form input[type="email"]:focus {
  outline: none;
  border-color: #007bff;
}

.cv_form button[type="submit"] {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
}

.cv_form button[type="submit"]:hover {
  background-color: #0056b3;
}
<<<<<<< HEAD
/* LogIn */
.profile-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f5f5f5;
}

/* Form Styles */
.login-form, .register-form {
  background-color: #ffffff;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
  box-sizing: border-box;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.login-form:hover, .register-form:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}

h2 {
  margin-bottom: 1rem;
  font-size: 1.5rem;
  color: #333333;
  text-align: center;
  position: relative;
}

h2::after {
  content: '';
  display: block;
  width: 50px;
  height: 3px;
  background-color: #007bff;
  margin: 0.5rem auto 0;
}


.form-group {
  margin-bottom: 1.5rem;
}

.form-group label {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: bold;
  color: #555555;
}

.form-group input {
  width: 100%;
  padding: 0.75rem;
  border: 1px solid #dddddd;
  border-radius: 4px;
  box-sizing: border-box;
  transition: border-color 0.3s, box-shadow 0.3s;
}

.form-group input:focus {
  border-color: #007bff;
  box-shadow: 0 0 8px rgba(0, 123, 255, 0.25);
  outline: none;
}

.button-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


button {
  padding: 0.75rem 1.5rem;
  border: none;
  border-radius: 4px;
  background-color: #007bff;
  color: #ffffff;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s, transform 0.3s;
}

button:hover {
  background-color: #0056b3;
  transform: translateY(-2px);
}

button:active {
  background-color: #004494;
  transform: translateY(1px);
}

/* Error Message */
.error-message {
  color: #ff0000;
  margin-bottom: 1rem;
  text-align: center;
}

/* Link Styles */
.text-center {
  text-align: center;
}

.text-muted {
  color: #6c757d;
}

.fw-bold {
  font-weight: bold;
}

.text-body {
  color: #007bff;
  transition: color 0.3s;
}

.text-body:hover {
  color: #0056b3;
  text-decoration: underline;
}




/*JOB LISTING*/
.card {
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-title {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-text {
  margin-bottom: 0.5rem;
}
/*
.btn-primary {
  align-self: flex-start;
}

*/