
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Navbar.css */

.nav {
  padding: 10px 20px;
  background-color: #f8f9fa;
}

.navbar-nav {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.navbar-nav .nav-item.active > .nav-link {
  text-decoration: none ;
  
}

.nav-link {
  text-decoration: none;
  color: gray; 
  font-weight: 500;
}

.nav-link:hover {
  text-decoration: underline;
}

.site-title {
  font-size: 24px;
  font-weight: bold;
  color: #007bff;
}

.site-profile {
  font-size: 18px;
  color: #007bff;
}


/*Why Us*/

.h2_whyus_intro{
  margin-top: 30px;
  color : black;
  text-align: center;
  font-family: 'Roboto' ,sans-serif ;
  font-weight: 300;
}
.whyUs_desc{
  font-family: 'Roboto' ,sans-serif ;
 color: dimgray;

}
.ourmission {
  color: black;
  text-align: center;
  font-family: 'Roboto' ,sans-serif ;
  font-weight: 300;
}
.whyUs_sectors{
  display : flex;
  width : 100%;
  justify-content : space-between;
  flex-wrap : wrap;


}
.whyUs_spliter {
  text-align: center;
}
.whyUs_Split{
  font-family: 'Roboto' ,sans-serif ;
  font-style: italic; 
  padding : 30px;
  
}

.sector_1 {
  height: 400px;
  width: 300px;
  margin: 30px;
  border: 2px solid slategray;
  border-radius: 10px;
  background-color: lightgray;
}

.sector_1:hover {
    
background: linear-gradient(to right, lightgreen, lightblue);
border-color: whitesmoke;
transition : ease 0.9s;
color : black;
}
.sector_h2{
  text-align: center;
  font-family: 'Bookman Old Style';
}
.sector_p {
  text-align: center;
  margin-top: 70px;
  font-family: 'Bookman Old Style';
}
/* ContactUs.css */
.contactus_main {
  margin-top: 50px;
  width: auto;
  padding: 20px;
  background: linear-gradient(to right, lightgreen, lightblue);
  color: white;
 
  margin-left: 200px;
  border-radius: 20px;
  height: auto;
}

.contactus_container {
  
  width: auto;
  height: auto;
  background: white;
  border-radius: 10px;
  padding: 30px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  color: black;
}

.contact_h2{
  color: none;
  font-family: monospace ;
  margin-top: 50px;
  font-size: 30px;
  text-align: center;
  font-weight: 800;
  font-style: italic;
}

.form-control.is-invalid {
  border-color: #dc3545;
}

.invalid-feedback {
  color: #dc3545;
}

.btn_contactUs{
  color: gray;
  background-color: lightblue;
  background: linear-gradient(to right, lightgreen, lightblue);
}

.btn_contactUs:hover{
  color: black;
  background-color: lightgreen;
  transition: ease 0.6s;
}
.contactus_text{
  margin-top: 150px;
  font-size: 25px;
  font-weight: 200;
}


/* Home */
.job-listing-container {
  background-color: #f8f9fa;
  border: 1px solid #dee2e6;
  border-radius: 8px;
  padding: 20px;
  margin-bottom: 20px;
}

.job-title {
  color: #007bff;
  font-size: 24px;
  margin-bottom: 10px;
}

.job-details {
  font-size: 16px;
  margin-bottom: 5px;
}

.dropdown {
  position: relative;
  display: inline-block;
  margin-top: 20px;
  margin-bottom: 40px;
}

.form-select {
  padding: 8px 12px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #fff;
  cursor: pointer;
}

/* Style the dropdown arrow */
.form-select::after {
  content: '\25BC'; /* Unicode character for downward arrow */
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  pointer-events: none;
}

/* Style the dropdown options */
.form-select option {
  padding: 8px 12px;
  font-size: 16px;
  background-color: #fff;
  color: #000;
}

/* Style the selected option */
.form-select option:checked {
  background-color: #007bff;
  color: #fff;
}



/*Profile*/
.login_intro{
  color: grey;
  text-align: center;
}
.profile-container {
  
  padding: 50px;
  margin: auto;
  margin-top: 50px;
  width: 50%;
  border: 5px solid transparent;
  border-radius: 100px;
  background-color: white;
  color: black;
}

.error {
  color: red;
}
.login_labels {

  color: transparent;
  background-image: linear-gradient(to right, #007bff, #00bfff);
  -webkit-background-clip: text;
  background-clip: text;
}
.input-field {
  width: 100%;
  padding: 8px;
  margin: 5px 0;
  border: none;
  background-color: transparent;
  border-radius: 0;
  border-bottom: 1px solid blue; 
  outline: none; 
  color: white;
}

.input-field:focus{
  border-bottom-color: green;
  transition: 0.6s ease;
}

.login-button {
  margin-left: 230px;
  padding: 10px;
  border-radius: 10px;
  background-color: blue;
  color: white;
  border: none;
  margin-top: 20px;
}
.login-button:hover{
  background-color: green;
  transition: 0.9s ease;
  color: black;
}

.register-link {
  text-align: center;
  margin-top: 30px;
}
.register_link:hover{
  color: green;
  transition: 0.4s ease-in-out;
}

.loggedIn_div{
display: flex;
justify-content: space-between;
flex-wrap: wrap;

}
.loggedIn_intro{
  color: red;
}
.logout_button{
color: blue;
width: 300px;
}


.logged-in-container {
  padding: 20px;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
}

.user-details {
  margin-bottom: 20px;
}

/* Publish Job*/
.publish-container {
  margin-top: 50px;
  background: linear-gradient(45deg, rgb(54, 53, 53), rgb(194, 255, 115));
  padding: 20px;
  border-radius: 10px;
}

.form-label_publish {
  font-weight: bold;
}

.btn_publish {
  background-color: #00bfff;
  border-color: #000;
}

.btn_publish:hover{
  background-color: #f3ec78;
  border-color: #f3ec78;
  transition: 0.6s ease;
}



/*   CV   */

.cv_form {
  max-width: 800px;
  margin-top: 100px;
  margin-left: 250px;
  padding: 50px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.cv_form h2 {
  margin-bottom: 20px;
  text-align: center;
}

.cv_form input[type="text"],
.cv_form input[type="date"],
.cv_form input[type="tel"],
.cv_form input[type="email"] {
  width: calc(100% - 22px);
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.cv_form input[type="text"]:focus,
.cv_form input[type="date"]:focus,
.cv_form input[type="tel"]:focus,
.cv_form input[type="email"]:focus {
  outline: none;
  border-color: #007bff;
}

.cv_form button[type="submit"] {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
}

.cv_form button[type="submit"]:hover {
  background-color: #0056b3;
}

/* LogIn */
.profile-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f5f5f5;
}

/* Form Styles */
.login-form, .register-form {
  background-color: #ffffff;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
  box-sizing: border-box;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.login-form:hover, .register-form:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}

.form-group {
  margin-bottom: 1.5rem;
}

.form-group label {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: bold;
  color: #555555;
}

.form-group input {
  width: 100%;
  padding: 0.75rem;
  border: 1px solid #dddddd;
  border-radius: 4px;
  box-sizing: border-box;
  transition: border-color 0.3s, box-shadow 0.3s;
}

.form-group input:focus {
  border-color: #007bff;
  box-shadow: 0 0 8px rgba(0, 123, 255, 0.25);
  outline: none;
}

.button-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


button {
  padding: 0.75rem 1.5rem;
  border: none;
  border-radius: 4px;
  background-color: #007bff;
  color: #ffffff;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s, transform 0.3s;
}

button:hover {
  background-color: #0056b3;
  transform: translateY(-2px);
}

button:active {
  background-color: #004494;
  transform: translateY(1px);
}

/* Error Message */
.error-message {
  color: #ff0000;
  margin-bottom: 1rem;
  text-align: center;
}

/* Link Styles */
.text-center {
  text-align: center;
}

.text-muted {
  color: #6c757d;
}

.fw-bold {
  font-weight: bold;
}

.text-body {
  color: #007bff;
  transition: color 0.3s;
}

.text-body:hover {
  color: #0056b3;
  text-decoration: underline;
}




/*JOB LISTING*/
.card {
  border-radius: 10px;
  padding: 20px;
  border: 1px solid #c2c2c2;
  transition: 0.3s;
}
.card:hover {
  border: 1px solid #fff;
  border-radius: 10px;
  box-shadow: 10px 10px 40px -1px rgba(0,123,255,0.1);
  padding: 20px;
}

.card-title {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-intro p {
  margin: 0px 10px 10px 0px;
  border-radius: 17px;
  display: inline-block;
  background-color: none;
  padding: 5px 10px;
  border: 1px solid #c2c2c2;
}

.card-description {
  border-radius: 17px;
  display: inline-block;
  padding: 5px 10px;
  border: 1px solid #c2c2c2;
}
hr { width:10%; height:1px; background: #fff}

.apply-button {
  background-color: #0B5ED7;
  color: #fff;
  text-align: center;
  padding: 10px 0px;
  border-radius: 7px;
}
/*
.btn-primary {
  align-self: flex-start;
}

*/
.btn-primary {
  color: #1a1a1a;
  background-color: #fff;
  border: 1px solid #c2c2c2;
  transition: 0.3s;
}


/*Traing Courses*/
/* TrainingCourse.css */
.form-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.form-container h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: #555;
}

.form-group input {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

button {
  width: 100%;
  padding: 10px 15px;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 10px;
}

button:hover {
  background-color: #218838;
}

.career-container {
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.career-container h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

.course-details {
  margin-top: 20px;
}

.course-details p {
  margin: 10px 0;
  font-size: 16px;
  color: #555;
}

.course-details p strong {
  color: #333;
}

.course {
  border: 1px solid transparent;
  transition: border-color 0.3s ease;
}

.course:hover {
  border-color: linear-gradient(to right, #ff8a00, #da1b60);
}


.gradient-background_career {
  background: linear-gradient(to right, lightgray, gray);
  color: white; 
  border-radius: 8px;
  padding: 20px; 
}

 /* CourseApplyForm.css */
 .container_apply {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background: linear-gradient(to right, lightgray, gray);
  color: rgb(160, 155, 155); 
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.form-container_apply {
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.form-container_apply h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

.form-group_apply {
  margin-bottom: 15px;
}

.form-group_apply label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: #555;
}

.form-control_apply {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.btn_apply {
  width: 100%;
  padding: 10px 15px;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 10px;
}

.btn_apply:hover {
  background-color: #218838;
}


/*ADMIN DASHBOARD*/
#wrapper {
  display: flex;
  height: 100%;
  width: 100%;
}

#admin_content-wrapper {
  flex: 1;
  overflow-x: hidden;
}

.sidebar {
  width: 250px;
  height: 100vh;
  position: fixed;
}

.admin_container-fluid {
  margin-top: 20px;
}